.success {
    width: 100%;

    &__box {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding-top: 50px;
    }

    &__box-order {
        font-size: 22px;
    }
}