.NavigationItem {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
}

.NavigationItem a {
    text-decoration: none;
    color: #8f5c2c;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem .active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .NavigationItem {
        display: flex;
        width: auto;
        height: 100%;
        align-items: center;
        margin: 0;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem .active {
        background-color: #8f5c2c;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}