.CheckoutForm {
    position: relative;
    padding-top: 50px;
}

.CheckoutForm form {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.CheckoutForm label {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}
.CheckoutForm input {
    padding: 10px;
    display: inline-block;
    width: 100%;
}