.CheckoutForm {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    margin: 0 auto;
}

.form {
    width: 60%;
    margin: 0 auto;

    &__submit {
        outline: none;
        background-color: peru;
        border: 2px solid peru;
        border-radius: 4px;
        color: #fff;
        display: block;
        font-family: inherit;
        font-size: 16px;
        padding: 10px;
        margin-top: 20px;
        width: 100%;
        cursor: pointer;
        transition: 100ms all ease-in;
    }

    &__submit:disabled {
        background-color: #e0e0e0;
        border: 2px solid #e0e0e0;
    }

    &__submit:active {
        background-color: rgb(221, 140, 59);
        border: 2px solid rgb(221, 140, 59);
    }
}

@media (max-width: 1000px) {
    .form {
        width: 80%;
    }
}
@media (max-width: 500px) {
    .form {
        width: 100%;
    }
}