.Auth {
   padding-top: 50px;
   padding-bottom: 50px;
   width: 80%;
   margin: 0 auto;
}

.form {
   width: 60%;
   margin: 0 auto;

   &__submit {
       outline: none;
       background-color: peru;
       border: 2px solid peru;
       border-radius: 4px;
       color: #fff;
       display: block;
       font-family: inherit;
       font-size: 16px;
       padding: 10px;
       margin-top: 20px;
       width: 100%;
       cursor: pointer;
       transition: 100ms all ease-in;
   }
}

.centering-btn {
   width: 60%;
   margin: 0 auto;
}

.toggle {
   background-color: transparent;
   border: none;
   color: #944317;
   outline: none;
   cursor: pointer;
   font: inherit;
   font-weight: bold;
   margin-left: 10px;
   padding: 0;
}


@media (max-width: 1000px) {
   .form {
       width: 80%;
   }
   .centering-btn {
      width: 80%;
      margin: 0 auto;
   }
}
@media (max-width: 500px) {
   .form {
       width: 100%;
   }
   .centering-btn {
      width: 100%;
      margin: 0 auto;
   }
}