@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
* {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
