.checkoutSummery {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    padding: 5%;
    border: 1px solid rgb(228, 228, 228);

    &__head {
        display: inline-block;
        font-size: 24px;
        color: #333;
    }

    &__one {
        font-size: 24px;
        margin-right: 30px;
        position: relative;
        z-index: 10;
        color: #333;
    }

    &__one::after {
        display: inline-block;
        z-index: -1;
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: peru;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__information {
        padding-left: 47px;
    }

    &__information ul{
        padding-left: 47px;
        list-style: square;
    }
}